@font-face {
  font-family: spaceMono;
  src: url(fonts/SpaceMono-Regular.ttf);
}

body {
  background-color:#ffffff;
  font-family:"spaceMono", "Helvetica", sans-serif;
  color:#012118;
}

section {
  background-color:#fcfdfd;
  max-width: 67%;
  height: 50%;
  display: block;
  border-style: solid;
  border-color: #012118;
  border-width: 5px;
  margin: 0 auto;
  padding: 25px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  overflow: auto;
}

p {
  font-size: 1em;
  text-align: left;
}

p.highlights {
  background-color:#eb0080;
}

h1{
  font-size: 3em;
  margin-bottom: 50px;
  text-align: center;
}

h2{
  font-size: 2em;
  border-style: solid;
  border-color: #012118;
  border-width: 0 0 3px 0;
}

h3,
h4,
h5,
h6 {
  font-size: 1.5em;
}

a {
  color: rgb(95, 175, 255);
  text-decoration: underline;
}

a:hover {
  text-decoration: dotted underline;
}

a:active {
  color: #fe71be;
}

img {
  float: right;
}

code {
  display: block;
  background-color:#012118;
  color:#fcfdfd; 
  padding: 0.5rem;
}

.menu-icon {        
  padding: 16px;
  border: none;
  cursor: pointer;    
}

.menu-icon-bar1, .menu-icon-bar2, .menu-icon-bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;        
}

.task-highlight{
  background-color: #6e4fe4;
  color: #e9fb3a;
  border: 2px #012118 dashed;
  padding: 1rem;
}

.dropdown {
  position: fixed;
  top: 3%;
  right: 3%;
  float:right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #012118;
  color:#fcfdfd; 
}

.dropdown:hover .dropdown-content {
  display: block;
}

#demo4{
  background-color: #eb0080;
  width: 100%;
  height: 10vh;
}
